@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<WebBanHangDienTu.Models.Customer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách khách hàng : page @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm Khách hàng">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover e-commerce-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ và Tên</th>
                    <th>Địa chỉ</th>
                </tr>
            </thead>
            <tbody id="records_table">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CustomerId
                            </td>
                            <td>
                                <p>@item.FullName</p>
                                <p>@item.Phone</p>
                                <p>@item.Email</p>
                            </td>
                            <td>@item.Address</td>
                            <td>
                                <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">View</a>
                                <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                                <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"></pager>
            </ul>
        </div>
    </div>
</div>
@section Scripts{
    <script>
            $("#keyword").keyup(function () {
                console.log('Tuan3');
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindCutomer/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
    </script>

}